{
  "extends": "airbnb",
  "rules": {
    "no-multi-spaces": "off",
    "arrow-body-style": "off",
    "import/no-extraneous-dependencies": [
        "error",
        {
          "devDependencies": true
        }
      ]
  }
}
